<% layout('layouts/boilerplate')%>
    <form action="/campgrounds/<%=campgroundById._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" value="<%=campgroundById.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="<%=campgroundById.location %>">
        </div>
        <div>
            <button>Edit</button>
        </div>

    </form>